@layer reset, variables, components;

@import "./colors.css" layer(variables);
@import "./components.css" layer(components);

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  background-color: var(--base00);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color: var(--base07);
  overflow: hidden;
  height: 100vh;
}

.container {
  display: grid;
  height: 100vh;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  overflow: hidden;
}

.path-input-container {
  grid-column: span 2;

  form {
    display: flex;
    gap: 12px;
  }

  .fieldset {
    flex: 1;
  }

  button {
    flex: 0 0 auto;
    background: var(--base02);
    color: var(--base07);
  }


}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 400px;
  overflow-y: auto;
  max-height: 100%;
}

.right-panel {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  max-height: 100%;
}

#caption_description, #caption_description-container {
  flex: 1;
}
#caption_tags_string,  #caption_tags_string-container {
  flex: 1;
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: auto;

  .accept {
    background-color: var(--base0b);
    color: var(--base00);
  }

  .reject {
    background-color: var(--base08);
    color: var(--base07);
  }

  .regen {
    background-color: var(--base0e);
    color: var(--base00);
  }
}

.status, .filename {
  padding: 12px;
  background: var(--base01);
  border: 1px solid var(--base02);
  border-radius: 6px;
  font-size: 13px;
  text-align: center;
  color: var(--base04);
}

.image-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 0px hsl(0 0 0 / .2)
  }
}
