/*
 * Tomorrow Night
 * Created with ColorSlurp
 */
:root, .tomorrow-night {
    --base00: color(display-p3 0.114 0.122 0.129 / 1.0);
    --base01: color(display-p3 0.157 0.165 0.18 / 1.0);
    --base02: color(display-p3 0.216 0.231 0.255 / 1.0);
    --base03: color(display-p3 0.588 0.596 0.588 / 1.0);
    --base04: color(display-p3 0.706 0.718 0.706 / 1.0);
    --base05: color(display-p3 0.773 0.784 0.776 / 1.0);
    --base06: color(display-p3 0.878 0.878 0.878 / 1.0);
    --base07: color(display-p3 1.0 1.0 1.0 / 1.0);
    --base08: color(display-p3 0.8 0.4 0.4 / 1.0);
    --base09: color(display-p3 0.871 0.576 0.373 / 1.0);
    --base0a: color(display-p3 0.941 0.776 0.455 / 1.0);
    --base0b: color(display-p3 0.71 0.741 0.408 / 1.0);
    --base0c: color(display-p3 0.541 0.745 0.718 / 1.0);
    --base0d: color(display-p3 0.506 0.635 0.745 / 1.0);
    --base0e: color(display-p3 0.698 0.58 0.733 / 1.0);
    --base0f: color(display-p3 0.639 0.408 0.353 / 1.0);
}

@supports (color: color(display-p3 1 1 1)) {
    :root, .tomorrow-night {
        --base00: color(display-p3 0.114 0.122 0.129 / 1.0);
        --base01: color(display-p3 0.157 0.165 0.18 / 1.0);
        --base02: color(display-p3 0.216 0.231 0.255 / 1.0);
        --base03: color(display-p3 0.588 0.596 0.588 / 1.0);
        --base04: color(display-p3 0.706 0.718 0.706 / 1.0);
        --base05: color(display-p3 0.773 0.784 0.776 / 1.0);
        --base06: color(display-p3 0.878 0.878 0.878 / 1.0);
        --base07: color(display-p3 1.0 1.0 1.0 / 1.0);
        --base08: color(display-p3 0.8 0.4 0.4 / 1.0);
        --base09: color(display-p3 0.871 0.576 0.373 / 1.0);
        --base0a: color(display-p3 0.941 0.776 0.455 / 1.0);
        --base0b: color(display-p3 0.71 0.741 0.408 / 1.0);
        --base0c: color(display-p3 0.541 0.745 0.718 / 1.0);
        --base0d: color(display-p3 0.506 0.635 0.745 / 1.0);
        --base0e: color(display-p3 0.698 0.58 0.733 / 1.0);
        --base0f: color(display-p3 0.639 0.408 0.353 / 1.0);
    }
}
